absl-py==2.1.0
accelerate==0.29.3
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
backoff==2.2.1
bardapi==0.1.39
beautifulsoup4==4.12.3
blinker==1.7.0
cachetools==5.3.3
catboost==1.2.3
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chroma-py==0.1.0.dev1
click==8.1.7
cmdstanpy==1.2.2
colorama==0.4.6
colour==0.1.5
comm==0.2.1
config==0.5.1
contourpy==1.2.0
cryptography==42.0.7
cycler==0.12.1
dataclasses-json==0.6.4
DateTime==5.5
debugpy==1.8.0
decorator==5.1.1
deepdiff==7.0.1
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
emoji==2.12.1
et-xmlfile==1.1.0
exchange_calendars==4.5.3
executing==2.0.1
faiss-cpu==1.8.0
Faker==26.0.0
fastapi==0.109.2
fastjsonschema==2.19.1
ffmpy==0.3.2
filelock==3.9.0
filetype==1.2.0
flatbuffers==24.3.25
fonttools==4.50.0
frozendict==2.4.1
frozenlist==1.4.1
fsspec==2024.2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
gradio==4.28.3
gradio_client==0.16.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.62.2
h11==0.14.0
h2==4.1.0
h5py==3.11.0
holidays==0.45
hpack==4.0.0
html5lib==1.1
httpcore==1.0.3
httpx==0.26.0
huggingface-hub==0.20.3
hyperframe==6.0.1
idna==3.6
importlib_resources==6.4.0
ipykernel==6.29.1
ipython==8.21.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
JPype1==1.5.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
konlpy==0.6.0
korean-lunar-calendar==0.3.1
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-experimental==0.0.58
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
langdetect==1.0.9
langsmith==0.1.57
libclang==18.1.1
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.3.2
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
multitasking==0.0.11
mypy-extensions==1.0.0
namex==0.0.8
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
openai==0.28.0
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
ordered-set==4.1.0
orjson==3.10.0
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
pandas-datareader==0.10.0
parso==0.8.3
pdfcrowd==5.18.1
peewee==3.17.1
pefile==2023.2.7
pillow==10.2.0
pipdeptree==2.20.0
platformdirs==4.2.0
playwright==1.45.0
plotly==5.20.0
prompt-toolkit==3.0.43
protobuf==4.25.3
psutil==5.9.8
pure-eval==0.2.2
pyarrow==15.0.2
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pydub==0.25.1
pyee==11.1.0
Pygments==2.17.2
pykrx==1.0.45
pyluach==2.2.0
pymssql==2.2.11
PyMySQL==1.1.0
pyodbc==5.1.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pypdf==4.1.0
pyproject==1.3.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
pyzmq==25.1.2
rank-bm25==0.2.2
rapidfuzz==3.9.1
referencing==0.34.0
regex==2023.12.25
requests==2.31.0
requests-file==2.0.0
rich==13.7.1
rpds-py==0.18.0
ruff==0.4.2
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
selenium==4.18.1
semantic-version==2.10.0
setuptools==68.2.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.28
stack-data==0.6.3
stanio==0.5.0
starlette==0.36.3
streamlit==1.33.0
streamlit-chat==0.1.1
striprtf==0.0.26
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
threadpoolctl==3.4.0
tiktoken==0.6.0
tokenizers==0.15.1
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.2.0+cu118
torchaudio==2.2.0+cu118
torchvision==0.1.6
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
transformers==4.37.2
trio==0.24.0
trio-websocket==0.11.1
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.4
unstructured==0.14.2
unstructured-client==0.22.0
urllib3==2.2.0
uvicorn==0.27.0.post1
watchdog==4.0.0
wcwidth==0.2.13
webdriver-manager==4.0.1
webencodings==0.5.1
websockets==11.0.3
Werkzeug==3.0.2
wget==3.2
wheel==0.41.2
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
yarl==1.9.4
yfinance==0.2.37
zope.interface==6.3
